<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>music-update</title>

    <link rel="stylesheet" th:href="@{/css/style2a.css}"  />
</head>
<body>


<main id="main" class="article">
    <header id="header" onclick="window.location='/home'" class="blue"><div > Update Music </div> </header>
    <article class="article">


<form action="#"
      th:action="@{/arkani2/test/update/{id}(id=${test.id})}"
      th:object="${test}"
      method="post">


    <div class="rejestracja">


        <input style ="width:700px" type="text" th:field="*{id}"  >
        <input style ="width:700px" type="text" th:field="*{name}"  >
        <input style ="width:700px" type="text" th:field="*{date}"  >
<!--        <input style ="width:700px" type="text" th:field="*{code}"      >-->
<!--        <input style ="width:700px" type="text" th:field="*{email}"     >-->
<!--        <input style ="width:700px" type="text" th:field="*{enable}"     >-->
<!--        <input style ="width:700px" type="text" th:field="*{password}"    >-->



    </div>

     <input type="submit" value="Update" style ="width:800px">
</form>

    </article>
</main>


</body>
</html>