<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style2a.css}"  />
<!--    <link rel="stylesheet" href="style2a.css" type="text/css"/>-->




</head>
<body>





<main id="main" class="article">
    <header id="header" onclick="window.location='/home'" class="blue" ><div > Test List </div> </header>
    <article class="article">



<div th:switch="${test}" >
    <h2 th:case="null">No test yet!</h2>

    <div th:case="*">


        <input id="myInput" type="text" placeholder="Search.."><br><br>
        <p class="menu" style = "text-align:center"><a href="/arkani2/test/add">Add a new test</a></p>

        test table:
        <table>
            <thead >
            <tr >


                <th class="menu">id</th>
                <th class="menu">name</th>

                <th class="menu">date</th>
                <

            </tr>
            </thead >
            <tbody class="myTable">
            <tr th:each="test_ : ${test}">



                <td class="menu"><a th:href="@{/arkani2/test/delete/{id}(id=${test_.id})}">Delete</a></td>
                <td class="menu"><a th:href="@{/arkani2/test/edit/{id}(id=${test_.id})}">Edit</a></td>


                <td th:text="${test_.id}" class="menu"></td>
                <td th:text="${test_.name}" class="menu"></td>


                <td th:text="${test_.date}" class="menu"></td>

                <td> <form  action="#"  th:action="@{/arkani2/test/update/{id}(id=${test_.id})}" th:object="${test}" method="post">  <input style="margin:none;border: none !important;width:inherit !important;" name="name" type="text"  id="name" placeholder="name" th:value="${test_.name}"></td>
<!--                field="*{name}"-->
                <td> <input type="submit" value="aktualizuj" style ="display: none"></form></td>




            </tr>
            </tbody>
        </table>
    </div>

</div>

        automatyczne generowanie v1:

        <table>
            <thead>
            <tr class="headings">
                <th th:each="header: ${headers}" class="column-title" th:text="${header}" />
            </tr>
            </thead>

            <tbody>
            <tr class="even pointer" th:each="row: ${rows2}" id="tablerow2">
                <td th:each="header: ${headers}" th:text="${row.get(header)}" />
            </tr>
            </tbody>
        </table>


<hr>
# automatyczne generowanie z tabeli SQL v2:
        <br>


        <table>
            <thead>
            <tr><th class="menu" th:each="header: ${headers}"   th:text="${header}" /></tr>
            </thead>
            <tbody><tr  th:each="row: ${rows}" class="myTable">


<!--              <td class="menu"><a th:href="@{/arkani2/test/edit/{id}(id=${r})}">Edit</a></td>-->

                <td class="menu" th:each="r: ${row}" th:text="${r}" />
<!--                <td><a th:href="${'/arkani2/test/edit/'+row.id}">Edit2</a></td>-->
            </tr>
            </tbody>
        </table>
<br>
<br>

<hr>
# objects from fragments:
<br>

<!--        <div th:replace="~{_fragments.html :: my_fragment('test',${host})}"></div>-->

<!--        <div style="width:30%">-->
<!--            <div  th:replace="~{_fragments.html :: menu(${techPageList})}" ></div>-->
<!--        </div>-->

        <div style="width:30%">
            <div  th:replace="~{_fragments.html :: tableView2(${headers},${rows},'menu')}" ></div>
        </div>


<hr>
# userDTOList:<br>


        <table>
            <thead>
            <tr>

                <th class="menu">Delete</th>
                <th class="menu">Edit</th>

                <th class="menu">id</th>
                <th class="menu">username</th>
                <th class="menu">password</th>
                <th class="menu">password2</th>
                <th class="menu">roles</th>
                <th class="menu">Code</th>
                <th class="menu">enabled</th>
                <th class="menu">authority</th>
                <th class="menu">role</th>
                <th class="menu">email</th>
                <th class="menu">purchases</th>



            </tr>
            </thead >
            <tbody class="myTable">
            <tr th:each="s : ${userDTOList}">

                <td class="menu"><a th:href="@{/arkani2/userdto/delete/{id}(id=${s.id})}" onclick="return confirm(' you want to delete?');">Delete</a></td>
                <td class="menu"><a th:href="@{/arkani2/userdto/edit/{id}(id=${s.id})}">Edit</a></td>


                <td class="menu" th:text="${s.id}"></td>
                <td class="menu" th:text="${s.username}"></td>
                <td class="menu" th:text="${s.password}"></td>
                <td class="menu" th:text="${s.password2}"></td>
                <td class="menu" th:text="${s.roles}"></td>
                <td class="menu" th:text="${s.Code}"></td>
                <td class="menu" th:text="${s.enabled}"></td>
                <td class="menu" th:text="${s.authority}"></td>
                <td class="menu" th:text="${s.role}"></td>
                <td class="menu" th:text="${s.email}"></td>
                <td class="menu" th:text="${s.purchases}"></td>

            </tr>
            </tbody>
        </table>




    </article>
</main>

<footer></footer>


<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $(".myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

</body>
</html>