<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>add music</title>
    <link rel="stylesheet" th:href="@{/css/style2a.css}"  />
</head>
<body>

<main id="main" class="article">
    <header id="header" class="blue" ><div > Add Music  </div> </header>
    <article class="article">

<div>
    <form  action="#" th:action="@{/arkani2/music/add}" th:object="${music}" method="post">

<!--        class="menu" style="padding:20px;margin:50px;"-->


        <div class="rejestracja">

        <input style ="width:700px" type="text" th:field="*{author}" id="author" placeholder="author">
        <input style ="width:700px" type="text"  th:field="*{album}" id="album" placeholder="album">
        <input style ="width:700px" type="text"  th:field="*{type}" id="type" placeholder="type">
        <input style ="width:700px" type="text"  th:field="*{rating}" id="rating" placeholder="rating">
        <input style ="width:700px" type="text"  th:field="*{cd}" id="cd" placeholder="cd">
        <input style ="width:700px" type="text" th:field="*{url}" id="url" placeholder="url" >


        </div>


        <span  th:if="${#fields.hasErrors('author')}"  th:errors="*{author}"></span><br>
        <input type="submit" value="Add" style ="width:800px">
    </form>
</div>

<!--&lt;!&ndash;        <label for="author">Author</label><br>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text"  th:field="*{author}" id="author" placeholder="author"><br>&ndash;&gt;-->

<!--&lt;!&ndash;        <label for="album">Album</label><br>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text"  th:field="*{album}" id="album" placeholder="album"><br>&ndash;&gt;-->

<!--&lt;!&ndash;        <label for="url">Url</label><br>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" th:field="*{url}" id="url" placeholder="url"><br>&ndash;&gt;-->

<!--&lt;!&ndash;        <label for="type">Type</label><br>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" th:field="*{type}" id="type" placeholder="type"><br>&ndash;&gt;-->

<!--&lt;!&ndash;        <label for="rating">Rating</label><br>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" th:field="*{rating}" id="rating" placeholder="rating"><br>&ndash;&gt;-->


    </article>
</main>


</body>
</html>