        <form action="#"
              th:action="@{<@RequestMapping><@GetMapping>/update/{id}(id=${<classNm>.id})}"
              th:object="${<classNm>}"
              method="post">


            <div class="rejestracja">
<!--                visibility: hidden;-->
                <table>

                    <inputFormTrFragment>

<!--                    <p th:if="${#fields.hasErrors('item')}">Invalid item</p>-->

                </table>

                <div th:if="${#fields.hasErrors('global')}">
                    <h3>Global errors:</h3>
                    <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" />
                </div>


                <!--                <input style ="width:700px;visibility: hidden;" type="text" th:field="*{id}" id="id" placeholder="id">-->
                <!--                <input style ="width:700px" type="text"  th:field="*{age}" id="age" placeholder="age">-->
                <!--                <input style ="width:700px" type="text"  th:field="*{phrase}" id="phrase" placeholder="phrase">-->
                <!--                <input style ="width:700px" type="text"  th:field="*{translation}" id="translation" placeholder="translation">-->

                <!--                <input style ="width:700px" type="text"  th:field="*{comment}" id="comment" placeholder="comment">-->



            </div>


            <input type="submit" value="Zapisz" style ="width:800px">
        </form>
