<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>add purchase</title>-->
<!--    <link rel="stylesheet" th:href="@{/css/style2a.css}"  />-->
<!--</head>-->
<!--<body>-->

<!--<main id="main" class="article">-->
<!--    <header id="header" onclick="window.location='/home'" class="blue" ><div > Add Purchase  </div> </header>-->
<!--    <article class="article">-->

<!--<div>-->
<!--    <form  action="#"-->
<!--           th:action="@{/arkani2/purchase/add}"-->
<!--           th:object="${purchase}"-->
<!--           method="post">-->

<!--&lt;!&ndash;        class="menu" style="padding:20px;margin:50px;"&ndash;&gt;-->


<!--        <div class="rejestracja">-->

<!--&lt;!&ndash;            <input style ="width:700px" type="text" th:field="*{id}" id="id" placeholder="id">&ndash;&gt;-->
<!--            <input style ="width:700px" type="text"  th:field="*{name}" id="name" placeholder="name">-->
<!--&lt;!&ndash;            <input style ="width:700px" type="text"  th:field="*{purchased}" id="purchased" placeholder="purchased">&ndash;&gt;-->


<!--            <input style ="width:700px" type="text"  th:field="*{state}" id="state" placeholder="state">-->
<!--            <input style ="width:700px" type="text"  th:field="*{category}" id="category" placeholder="category">-->

<!--            <input style ="width:700px" type="text"  th:field="*{toDelete}" id="toDelete" placeholder="toDelete">-->
<!--            <input style ="width:700px" type="text"  th:field="*{comment}" id="comment" placeholder="comment">-->




<!--        </div>-->


<!--        <span  th:if="${#fields.hasErrors('name')}"  th:errors="*{purchase}"></span><br>-->
<!--        <input type="submit" value="Add" style ="width:800px">-->
<!--    </form>-->
<!--</div>-->

<!--&lt;!&ndash;&lt;!&ndash;        <label for="author">Author</label><br>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <input type="text"  th:field="*{author}" id="author" placeholder="author"><br>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;        <label for="album">Album</label><br>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <input type="text"  th:field="*{album}" id="album" placeholder="album"><br>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;        <label for="url">Url</label><br>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <input type="text" th:field="*{url}" id="url" placeholder="url"><br>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;        <label for="type">Type</label><br>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <input type="text" th:field="*{type}" id="type" placeholder="type"><br>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;        <label for="rating">Rating</label><br>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <input type="text" th:field="*{rating}" id="rating" placeholder="rating"><br>&ndash;&gt;&ndash;&gt;-->


<!--    </article>-->
<!--</main>-->


<!--</body>-->
<!--</html>-->