<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>movie-update</title>
</head>
<body>


<form action="#"
      th:action="@{/arkani2/movie/update/{id}(id=${movie.id})}"
      th:object="${movie}"
      method="post">

    <div class="rejestracja">

        <input style ="width:700px" type="text" th:field="*{author}" id="author" placeholder="author">
        <input style ="width:700px" type="text"  th:field="*{album}" id="album" placeholder="album">
        <input style ="width:700px" type="text"  th:field="*{type}" id="type" placeholder="type">
        <input style ="width:700px" type="text"  th:field="*{rating}" id="rating" placeholder="rating">
        <input style ="width:700px" type="text"  th:field="*{cd}" id="cd" placeholder="cd">
        <input style ="width:700px" type="text" th:field="*{url}" id="url" placeholder="url" >


    </div>

    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
    <input type="submit" value="Update Movie" style ="width:800px">
</form>



</body>
</html>