<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>movie-update</title>
</head>
<body>


<form action="#"
      th:action="@{/arkani2/movie/update/{id}(id=${movie.id})}"
      th:object="${movie}"
      method="post">

    <div class="rejestracja">

        <input style ="width:700px" type="text" th:field="*{name}" id="name" placeholder="name">
        <input style ="width:700px" type="text"  th:field="*{originalName}" id="originalName" placeholder="originalName">
        <input style ="width:700px" type="text"  th:field="*{country}" id="country" placeholder="country">
        <input style ="width:700px" type="text"  th:field="*{description}" id="description" placeholder="description">



    </div>

    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
    <input type="submit" value="Update Movie" style ="width:800px">
</form>



</body>
</html>