<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>add purchase</title>

    <link rel="stylesheet" th:href="@{/css/style2a.css}"  />
</head>
<body>

<main id="main" class="article">
    <header id="header" class="blue" ><div > Add Purchase  </div> </header>
    <article class="article">

<div>
    <form  action="#"
           th:action="@{/arkani2/purchase/add}"
           th:object="${purchase}"
           method="post">

<!--        class="menu" style="padding:20px;margin:50px;"-->


        <div class="rejestracja">

            <TABLE>

<!--            <input style ="width:700px" type="text" th:field="*{id}" id="id" placeholder="id">-->
           <tr><td> name: </td> <td><input style ="width:700px" type="text"  th:field="*{name}" id="name" placeholder="name"></td></tr>
<!--            <input style ="width:700px" type="text"  th:field="*{purchased}" id="purchased" placeholder="purchased">-->


                <tr><td> state: </td> <td><input style ="width:700px" type="text"  th:field="*{state}" id="state" placeholder="state"></td></tr>

                <tr><td> category: </td> <td>
<!--            th:object="${purchaseCategoryClass}"-->
            <select  th:object="${purchase}"  th:field="*{purchaseCategory}" class="select;color:white;" id="purchaseCategory" >
<!--                <option selected="selected">tmp</option>-->

                <option value="1">select option</option>
                <option th:each="p:${purchaseCategory}" th:value="${p.id}" th:text="${p.name}" th:selected="${p.id == 1}"></option>
            </select>
                    </td></tr>

<!--            th:text="${test.testCode}+' : '+${test.testName}"></option>-->


<!--            <input style ="width:700px" type="text"  th:field="*{category}" id="category" placeholder="category">-->

                <tr><td> toDelete: </td><td><input style ="width:700px" type="text"  th:field="*{toDelete}" id="toDelete" placeholder="toDelete"></td></tr>
                <tr><td> comment: </td><td> <input style ="width:700px" type="text"  th:field="*{comment}" id="comment" placeholder="comment"></td></tr>




        </div>


        <tr><td></td><td> <input type="submit" value="Add" style ="width:800px"></td></tr>
        <tr><td></td><td> <span  th:if="${#fields.hasErrors('name')}"  th:errors="*{purchase}"></span></td></tr>

        </TABLE>
    </form>
</div>

<!--&lt;!&ndash;        <label for="author">Author</label><br>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text"  th:field="*{author}" id="author" placeholder="author"><br>&ndash;&gt;-->

<!--&lt;!&ndash;        <label for="album">Album</label><br>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text"  th:field="*{album}" id="album" placeholder="album"><br>&ndash;&gt;-->

<!--&lt;!&ndash;        <label for="url">Url</label><br>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" th:field="*{url}" id="url" placeholder="url"><br>&ndash;&gt;-->

<!--&lt;!&ndash;        <label for="type">Type</label><br>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" th:field="*{type}" id="type" placeholder="type"><br>&ndash;&gt;-->

<!--&lt;!&ndash;        <label for="rating">Rating</label><br>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" th:field="*{rating}" id="rating" placeholder="rating"><br>&ndash;&gt;-->


    </article>
</main>


</body>
</html>