<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>puarchase</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style2a.css}"  />
<!--    <link rel="stylesheet" th:href="@{static/css/style2a.css}"  />-->
<!--    <link rel="stylesheet" th:href="@{/static/css/style2a.css}"  />-->
<!--    <link rel="stylesheet" th:href="@{resources/static/css/style2a.css}"  />-->
<!--    <link rel="stylesheet" href="../static/css/style2a.css" th:href="@{../static/css/style2a.css}"  />-->
<!--    <link rel="stylesheet" href="D:\PROGRAMOWANIE\Intellij_IDEA\java_LZ_2022301_LX\src\main\resources\static\css\style2a.css"  \>-->

<!--    <link rel="stylesheet" href="style2a.css" type="text/css"/>-->




</head>
<body>





<main id="main" class="article">
    <header id="header" class="blue" onclick="window.location='/home'"><div > Purchase List  <br>[<span th:text="${username}"/>] </div> </header>
    <article class="article">



<div th:switch="${purchase}" >
    <h2 th:case="null">No purchase yet! </h2>

    <div th:case="*">



        <input id="myInput" type="text" placeholder="Search.."><br><br>
        <p class="menu" style = "text-align:center"><a href="/arkani2/purchase/add">Add a new purchase</a></p>

        <table>
            <thead >
            <tr >

                <th class="menu">Delete</th>
                <th class="menu">Edit</th>

                <th class="menu">id</th>

                <th class="menu">name</th>
                <th class="menu">purchased</th>


                <th class="menu">state</th>
                <th class="menu">category</th>

                <th class="menu">toDelete</th>
                <th class="menu">comment</th>


                <th class="menu">addDt</th>
                <th class="menu">modDt</th>

<!--                <th class="menu">addBy</th>-->
<!--                <th class="menu">modBy</th>-->
                <th class="menu">lastModBy</th>
<!--                <th class="menu">tmp</th>-->

            </tr>
            </thead >
            <tbody id="myTable">
            <tr th:each="purchase_ : ${purchase}">


                <td class="menu"><a th:href="@{/arkani2/purchase/delete/{id}(id=${purchase_.id})}" onclick="return confirm(' you want to delete?');">Delete</a></td>
                <td class="menu"><a th:href="@{/arkani2/purchase/edit/{id}(id=${purchase_.id})}">Edit</a></td>


                <td th:text="${purchase_.id}" class="menu"></td>
                <td th:text="${purchase_.name}" class="menu"></td>

                <td th:text="${purchase_.purchased}" class="menu"></td>

                <td th:text="${purchase_.state}" class="menu"></td>
                <td th:text="${purchase_.category}" class="menu"></td>

                <td th:text="${purchase_.toDelete}" class="menu" ></td>
                <td th:text="${purchase_.comment}" class="menu" ></td>
                <td th:text="${purchase_.getAddDtFormatted}" class="menu"></td>
                <td th:text="${purchase_.getModDtFormatted}" class="menu"></td>

<!--                <td th:text="${purchase_.addBy}" class="menu"></td>-->
<!--                <td th:text="${purchase_.modBy}" class="menu"></td>-->
                <td th:text="${purchase_.lastModBy}" class="menu"></td>
<!--                <td th:text="${purchase_.getPurchaseCategory()}" class="menu"></td>-->
<!--                <td th:text="${purchase_.tmp}" class="menu"></td>-->



            </tr>
            </tbody>
        </table>
    </div>

</div>



    </article>
</main>

<footer></footer>


<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

</body>
</html>