<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>music-update</title>

    <link rel="stylesheet" th:href="@{/css/style2a.css}"  />
</head>
<body>


<main id="main" class="article">
    <header id="header" onclick="window.location='/home'" class="blue"><div > Update Music </div> </header>
    <article class="article">


<form action="#"
      th:action="@{/arkani2/music/update/{id}(id=${music.id})}"
      th:object="${music}"
      method="post">


    <div class="rejestracja">

        <input style ="width:700px" type="text" th:field="*{author}" id="author" placeholder="author">
        <input style ="width:700px" type="text"  th:field="*{album}" id="album" placeholder="album">
        <input style ="width:700px" type="text"  th:field="*{publishDate}" id="publishDate" placeholder="publishDate">


        <input style ="width:700px" type="text"  th:field="*{type}" id="type" placeholder="type">
        <input style ="width:700px" type="text"  th:field="*{rating}" id="rating" placeholder="rating">

        <input style ="width:700px" type="text"  th:field="*{cd}" id="cd" placeholder="cd"  required value="">
        <input style ="width:700px" type="text"  th:field="*{owner}" id="owner" placeholder="owner">
        <input style ="width:700px" type="text"  th:field="*{borrower}" id="borrower" placeholder="borrower">


        <input style ="width:700px" type="text" th:field="*{url}" id="url" placeholder="url" >


    </div>

     <input type="submit" value="Update" style ="width:800px">
</form>

    </article>
</main>


</body>
</html>