<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>MusicTest</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style2a.css}"  />

</head>
<body>


<main id="main" class="article">
    <header id="header" onclick="window.location='/home'" class="blue"><div> Music </div>
        <!--        <br>[<span th:text="${username}"/>] </div> -->
    </header>
    <article class="article">


        <div th:switch="${music}" >


            <input id="myInput" type="text" placeholder="Search.."><br><br>
            <p class="menu" style = "text-align:center"><a href="/arkani2/music/add">Dodaj</a></p>

            <table>
                <thead>
                <tr>

                    <th class="menu">Delete</th>
                    <th class="menu">Edit</th>

                    <th class="menu">Author</th>
                    <th class="menu">Album</th>

                    <th class="menu">publish Date</th>

                    <th class="menu">Type</th>
                    <th class="menu">Rating</th>

                    <th class="menu">cd</th>
                    <th class="menu">Owner</th>
                    <th class="menu">Borrower</th>

                    <th class="menu">Url</th>



                </tr>
                </thead >
                <tbody id="myTable">
                <tr th:each="s : ${music}">

                    <td class="menu"><a th:href="@{/arkani2/music/delete/{id}(id=${s.id})}" onclick="return confirm(' you want to delete?');">Delete</a></td>
                    <td class="menu"><a th:href="@{/arkani2/music/edit/{id}(id=${s.id})}">Edit</a></td>


<!--                    <td class="menu" th:text="${s.id}"></td>-->
                    <td class="menu" th:text="${s.author}"></td>
                    <td class="menu" th:text="${s.album}"></td>
                    <td class="menu" th:text="${s.publishDate}"></td>
                    <td class="menu" th:text="${s.type}"></td>
                    <td class="menu" th:text="${s.rating}"></td>
                    <td class="menu" th:text="${s.cd}"></td>
                    <td class="menu" th:text="${s.owner}"></td>
                    <td class="menu" th:text="${s.borrower}"></td>
                    <td class="menu" th:text="${s.url}"></td>

                </tr>
                </tbody>
            </table>



        </div>



    </article>
</main>

<footer></footer>


<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

</body>


</html>