<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" th:href="@{/css/style.css}"  />
    <link rel="stylesheet" th:href="@{/css/style2a.css}"  />
    <link rel="stylesheet" th:href="@{/css/piloty.css}"  />
    <script type="text/javascript" th:src="@{/js/funkcje.js}"></script>

</head>



<body>
<p>HOME</p>
<!--Hello <span th:text="${username}"/><br>-->
<!--Details: <span th:text="${details}"/>-->






<!--<table>-->
<!--    <tr th:each="auth: ${authorities}">-->
<!--        <td th:text="${auth}" />-->
<!--    </tr>-->
<!--    <table>-->

</body>
</html>