<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>user-add</title>
</head>
<body>


<form action="#" th:action="@{/login_auth2}" th:object="${user}" method="post">
  <label for="username">Username</label>
  <input type="text" field="*{username}" id="username" placeholder="username">
  <input type="password" field="*{password}" id="password" placeholder="password">
<!--  <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>-->
  <label for="email">Email</label>
  <input type="text" field="*{email}" id="email" placeholder="Email">
<!--  <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>-->
  <input type="submit" value="Login">
</form>



</body>
</html>