<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/style.css}"  />
    <link rel="stylesheet" th:href="@{/css/style2a.css}"  />
    <link rel="stylesheet" th:href="@{/css/piloty.css}"  />
    <script type="text/javascript" th:src="@{/js/funkcje.js}"></script>

</head>
<body>
<!--Hello <span th:text="${username}"/>-->
<!--Details: <span th:text="${details}"/>-->



<p class = "przyciski">WELCOME</p>

<!--<table>-->
<!--<tr th:each="auth: ${authorities}">-->
<!--    <td th:text="${auth}" />-->
<!--</tr>-->
<!--<table>-->


<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>